.error {
  background: linear-gradient(
    19deg,
    rgb(2, 25, 66) 20%,
    rgb(144, 0, 255) 80%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 100px;
  font-size: 260px;
  text-align: center;
  font-family: "Montserrat";
  cursor: context-menu;
}
.notFound {
    
  background: linear-gradient(
    19deg,
    rgb(144, 0, 255) 20%,
    rgb(2, 25, 66) 80%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    margin-bottom: 200px;
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat";
    cursor: context-menu;
    
}

