.slider_card {
  display: flex;
  
}
.slider__card_img img{
    width: 377px;
    border-radius: 10px;
    height: 377px;
}
.slider__card_text {
  width: 650px;
  font-family: "Rubik";
  font-size: 20px;
}
.slider__card_text h2 {
  line-height: 48px;
  margin-top: 20px;
  color: #1C3554;
  font-weight: 400;
}
.slider__card_text h4 {
    margin-top: 32px;
    font-family: "Rubik";
    font-weight: 600;
    color: #1C3554;
}
.arrow_buttons {
    display: flex;
}
.back_button{
    margin-left: 2px;
    margin-top: -200px;
}
.next_button{
    margin-right: 2px;
    margin-top: -200px;
}