.top_cards {
    display: grid;
    margin-bottom: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card_categories {
    display: flex;
    width: 258px;
    margin-bottom: 16px;
    height: 352px;
    
}
.categories_img {
    width: 256px;
    height: 350px;
    margin: 0;
    margin-bottom: 16px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    transition-duration: 0.3s ;
}

.categories_name {
    font-family: "Rubik";
    margin: 0;
    height: 40px;
    justify-content:center ;
    border: none;
    margin-left: -250px;
    margin-top: 300px;
    width: 100px;
    background-color: #4586d6;
    position: relative;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
}
.top_categories_text {
    font-family: "Rubik";
    font-size: 45px;
    margin-left: 18px;
    margin-bottom: 56px;
}
.img_hover_div {
    overflow: hidden;
    border-radius: 8px; 
}
.img_hover_div img {
    display: block;
    height: auto;
    transition: transform;
    transition-duration: 300ms;
}
.categories_img:hover {
    transform:scale(1.03) ;

}